<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Menu</title>
  </head>
  <body style="background-color: #b5d4e2">
    <div class="container">
        <div style="background-image:url(https://imgix.bustle.com/uploads/getty/2019/1/13/b9399d5e-2390-49c3-8e8c-42b6ea69b53c-getty-1077345682.jpg?w=970&h=546&fit=crop&crop=faces&auto=format&q=70);background-size: cover!important" class="mt-5 jumbotron">
            <h1 style = "color:white" class="display-4">Navigate to view NPS data!</h1>
            <p style = "color:white; font-size: 30px " class="lead">Below, select information and an interface view.</p>
            <hr/>
            <a class="btn btn-primary btn-lg" href="/all" role="button">Show List View</a><br><br>
            <a class="btn btn-primary btn-lg" href="/table" role="button">Show Table View</a><br><br>
            <a class="btn btn-primary btn-lg" href="/allstateinfo" role="button">Show States</a><br><br>
        </div>

       <h2> Curious about the columns in our Parks Database ?</h2>
       {% with messages = get_flashed_messages() %}
         {% if messages %}
           <ul class=flashes>
           {% for message in messages %}
             <li>{{ message }}</li>
           {% endfor %}
           </ul>
         {% endif %}
       {% endwith %}

       {% from "_formhelpers.html" import render_field %}
       <form method=get>
         <dl>
           {{ render_field(form.select) }}
          <!--<input type=submit value=Search> -->
       </form>

        <!-- <form action="http://localhost:5000/searchresult" method="GET">
            <div class="form-group">
                <label for="keyword">Keyword</label>
                <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Born this way">
                <small id="keywordHelp" class="form-text text-muted">You can search for song name or artist name.</small>
            </div>
            <div class="form-group">
                <label for="no">Numbers of media</label>
                <input type="text" class="form-control" name="no" id="no" placeholder="10">
                <small id="noHelp" class="form-text text-muted">You can search up to 50 media at one time.</small>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
